@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*, *::before, *::after {

    box-sizing: border-box;

}


html,body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #FBFBFB;
}

:root {

    --main-color-:#048B8A;
    --secondary-color-:#E1755E;

}
/* 
#bloc-page {

    max-width: 1400px;
    margin: 0 auto;
} */

.bloc-page {

    background-color: #FBFBFB;
    /* max-width: 1400px;
    margin: 0 auto; */

}

.header-content {

    height: 100vh;
    background-color: var(--main-color-);
    position: relative;

}

.home-header {

    object-fit: cover;
    width: 100%;
    height: 100%;
    /* clip-path: inset(0% round 0 0 30% 0); */
    /* clip-path: polygon(0% 0, 0 50%, 100% 100%); */
    /* clip-path: ellipse(50% 50% at 50% 50%); */
    /* padding: 5px; */

}

.filtre {

    height: 100%;
    width:100%;
    background-color:black;
    opacity: 0.4;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.nav-bar-content {

    position: absolute;
    z-index: 5;
    top: 10%;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: space-around;


}

.nav-bar, .footer-nav {

    display: flex;
    text-decoration: none;
    gap: 30px;
    list-style: none;
    font-size: 1.1rem;

}

.nav-bar li {

    cursor: pointer;
    transition: 500ms ease-in-out;
    padding: 12px;

}

.nav-bar li:hover {

    
    background-color: var(--main-color-); 
   
    /* padding: 15px; */
    border-radius: 5px;
    color:#FFFFFF;
    transition: 500ms ease-in-out;


}

.active, .activeServices, .activeTech, .activePropos, .activeBlog {

    background-color: var(--main-color-) !important; 
    padding: 13px;
    border-radius: 5px;
    color:#FFFFFF;
    font-size: 1.2rem;
    transition: 500ms ease-in-out;

}

.logo-text {

    font-size: 30px;
    padding-top: 25px;
    padding-left: 25px;
    cursor: pointer;

}

.logo {

    height: 80px;
    width: 100px;
    object-fit: cover;

}

.home-title {

    color: #FFFFFF;
    position: absolute;
    z-index: 5;
    top:35%;
    font-weight: bold;
    font-size: 3.1rem;
    left: 13%;
    width: 900px;
    text-transform: uppercase;

}

.btn-contact {

    display: block;
    /* padding: 17px; */
    text-align: center;
    padding-top: 14px;
    height: 50px;
    width: 170px;
    background-color: var(--main-color-);
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    z-index: 5;
    cursor: pointer;
    transition: 500ms ease-in-out;

}

a {

    text-decoration:none;
    color: #FFFFFF;

}

.header-contact {

   
    position: absolute;
    z-index: 5;
    width: 100%;
    /* height: 300px; */
    bottom: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13%;
    padding-right: 13%;
   

}



.body-content {

    padding: 35px;

}

.body-content h2 {

    font-size: 2.8rem;
    text-align: center;

}

.body-content p {

    font-size: 1.4rem;

}

.icon-illustrator {

    height: 35px;
    width: 35px;

}

.help-customer-content {

    display: flex;
    /* background-color: red; */
    /* align-items: center;
    justify-content: center;
    gap: 20px; */
    margin-bottom: 40px;
    justify-content: space-around;

}

.help-customer-items {

    display: flex;
    flex-direction: column;
    gap: 35px;

}

.proximity-customer {

   position: relative; 
   


}

.proximity-customer span {

    position: absolute;
    z-index: 5;
    left: 85px;
    top: 140px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFFFFF;

}

.proximity-customer div {

    border-radius: 35px;
    height: 370px;

}

.proximity-customer img {

    object-fit: cover;
    /* width: 600px; */
    height: 370px;
    border-radius: 35px;

}

.help-customer {

    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    gap: 10px;
    background-color: #FFFFFF;
    /* width: 450px; */

    box-shadow: 3px 3px 3px 3px #E1E1E1;

}

.help-customer span {

    display: block;
    font-size: 1.4rem;

}
.btn-contact:hover {

    transition: 400ms ease-in-out; 
    transform: scale(1.1);


}

.section-title {

    font-size: 2rem;
    font-weight: bold;
    display: block;
    text-align: center;
    transform: translate3d(0,25px,0);

}

.sub-section-title {

    font-size: 2.5rem;
    text-align: center;


}

.value-item {

    height:90px;
    width: 90px;

}

.values-items {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 27px;
    margin-bottom: 50px;

}

.value-bx span {

    display: block;
    font-size: 1.3rem;

}

.description {

    text-align: center;
    

}

.value-bx, .service {

    box-shadow: 3px 3px 3px 3px #E1E1E1;
    border-radius: 15px;
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;

}

.service {

    width: 220px;
    height: 230px;

}

.service span {

    font-weight: bold;

}

.value-txt {

    text-align: center;

}

.slider-indicator span {

    font-weight: bold;
    font-size: 3rem;
    border-radius: 50%;
    color: var(--main-color-);
    display: block;

}

.slider-indicator {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.services {

    border: 1px solid var(--main-color-);
    padding: 15px;
    border-radius: 5px;
    font-size: 1.3rem;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: 400ms ease-in-out;

}

.services:hover {

    background-color: var(--main-color-);
    color: #FFFFFF;
    transition: 400ms ease-in-out;

}

.team-work {

    background-color: #E4E4E4;
    height: 550px;
    border-radius: 70px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 55px;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* margin-left: 90px;
    margin-right: 90px; */
    width: 960px;

}

.team-pd {

    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.img-team-bg {

    height: 250px;
    width: 300px;
    border-radius: 80px;
    object-fit: cover;

}

#img-team {

    position: absolute;
    top:75px;
    left: 95px;
    z-index: 1;
    transform: rotate(10deg);

}

.description-work {

    width: 50%;
   

}

.work-heart {

    position: absolute;
    bottom: 45px;
    left: 50px;
    padding: 30px;

}

.description-work span {

    font-size: 1.3rem;

}

.description-work .description-title {

    font-size: 2.4rem;

}

.description-title {

    font-weight: bold;
    font-size: 2.5rem;
    
}

.description-text {

    font-size: 1.3rem; 

}

.img-customer {

    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}

.customer-slider {

    display: flex;
    justify-content: center;

}

.customer-comment {

    text-align: center;

}

.customer-avis span {

    font-weight: bold;
    font-size: 3rem;
    color: var(--main-color-);
    display: block;
    text-align: center;

}

.customer-avis {

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.slider-content {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100% ;
   



}
.next-slider {

    background-color: var(--main-color-);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.chevron-right {

    height: 30px;
    width: 30px;
    cursor: pointer;

}

.contact-content {

    background-color: #FFFFFF;
    height: 425px;
    border-radius: 50px;
    box-shadow: 5px 0px 4px 3px #E1E1E1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 45px;

}

.contact-content div span {

    font-size: 3rem;

}

.contact-text {

    /* background-color: red; */
    height: 400px;
    width: 500px;


}

.contact-content div h3 {

    font-size:2.8rem;

}

.text-contact  {

    font-size:1.5rem;
    
}

.form-item label{

    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;

}

.input-form {

    border-radius: 5px;
    height: 30px;
    border: 1px solid #A5A5A5;
    padding-left: 5px;
    margin-bottom: 10px;
    
}

.form-items {

   /* background-color: red; */
   height: 400px;
   position: relative;

}

input:focus {
    outline: 2px solid var(--main-color-);
}

#need {

    height: 80px;
    width: 100%;
    margin-bottom: 25px;

}
  

.form-item-flx {

    display: flex;
    gap: 25px;

}

.btn-send {

    height: 45px;
    border-radius: 5px;
    border: none;
    width: 160px;
    background-color: var(--main-color-);
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom:45px;
    left: 25%;

}

.repeat-page {

    transform: translate3d(0,50px,0);
    background-color: #FBFBFB;

}

.footer {

    height: 100%;
    background-color: #070707;
    padding: 60px;
    display: flex;
    justify-content: space-between;
   

}

.footer-text p {

    color: #D9D9D9;
    font-size: 0.9rem;
    text-align: justify;

}

.footer-text {

    
    width: 600px;
     position: relative;

}

.footer-nav {

    /* background-color: red; */
    padding-left: 0;

}

.footer-nav li{

    color: #ffffffc0;
    font-size: 0.8rem;
    cursor: pointer;

}

.footer-nav li:hover {

    color: var(--main-color-);

}

.footer-adress {

    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.footer-adress-number {

    background-color: #fffffff7;
    height: 110px;
    width: 290px;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 20px;

}

.footer-adress div span {

    display: block;

}

.footer-adress :nth-child(1) {

    font-weight: bolder;
    font-size: 1.1rem;

}

.reserved {

    position: absolute;
    bottom: -45px;
    left: 0px;
    color: #ffffffc0 !important;
    

}

.social-media img {

    height: 20px;
    width: 20px;
    cursor: pointer;

}

.social-media {

    display: flex;
    gap: 10px;

}

.likdn:hover {

    background-color: var(--main-color-);
    height: 20px;
    width: 20px;
    border-radius: 3px;

}

.fcbk:hover {

    background-color: var(--main-color-);
    height: 20px;
    width: 20px;
    border-radius: 50%;

}

.insta:hover {

    background-color: var(--main-color-);
    height: 20px;
    width: 20px;
    border-radius: 5px;

}

.header-text-description {

    position: absolute;
    color: #FFFFFF;
    font-size: 1.5rem;
    top: -125px;
    width: 700px;

}

#text-translate {

    transform: translate3d(0,-90px,0);

}

/* service   */

.card-items {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.card-item {

    height: 450px;
    width: 370px;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px #E1E1E1;
    position: relative;

}

.card-img {

    height: 170px;
    width: 100%;
    background-color: #048B8A;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

.card-title {

    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;

}

.card-text {

    display: block;
    color: #757575;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    /* background-color: red;
    width: 300px; */

}

.plus {

    color: #757575; 
    font-size: 1.1rem;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 35px;
    cursor: pointer;

}

.techno-man {

    height: 350px;
    width: 500px;
    object-fit: cover;
    border-radius: 30px;

}

.techno-work {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    /* justify-content: space-between; */

}

.techno-work p {

    font-size: 1.7rem;
    width: 470px;

}

.techno-text {

    text-align: center;
    font-size: 1.7rem;

}

.apropos-text {

    font-size: 1.2rem;
    text-align: center;

}

.value-team {

    color: #757575;

}

.team-word {

    font-size: 1.4rem;
    text-align: center;

}

.slider-team {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.img-person {

    background-color:var(--main-color-);
    height: 180px;
    width: 180px;
    border-radius: 50%;

}

.person-name span {

    display: block;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;

}

.person-name {

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.indicator {

    display: block;
    text-align: center;
    font-size: 3rem;
    color: #048B8A;

}

.blog-img {

    height: 290px;
    width: 350px;
    background-color: #048B8A;
    border-radius: 20px;

}

.blog-title {

    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 10px;

}

.blog-title-name span {

    display: block;
    padding-left: 20px;

}

.card-blog-items {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 35px;

}